<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.Login.LoginWindowLinks"/>
      <class name="tests.CreateATrip.CreateATripTest"/>
      <class name="tests.CreateATrip.CreateAtripFlowDestination_1"/>
      <class name="tests.Login.LoginFailTest"/>
      <class name="tests.HeaderTest"/>
      <class name="tests.Destinations.DestinationsElementsTest"/>
      <class name="tests.Destinations.DestinationsSearchTests"/>
      <class name="tests.CreateATrip.CreateATripFlowDestination_2"/>
      <class name="tests.CreateATrip.CreateATripFlowDestination_3"/>
      <class name="tests.Login.LoginTest"/>
      <class name="tests.Login.LogOutTest"/>
      <class name="tests.Destinations.DestinationsFailSearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
